.header {
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -6px 11px 0 #000;
    align-items: center;
    background: #fff;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    &__ {
        &logo {
            padding: 8px;
            border-radius: 8px;
            transition: background 0.3s;
            &:hover {
                background-color: #ccc;
            }
        }
        &nav {
            display: flex;
            font-size: 16px;
            a {
                color: #000;
                padding-top: 2px;
            }
        }
        &user {
            margin-left: 28px;
            .user {
                &__ {
                    &button {
                        border: none;
                        text-decoration: underline;
                        background: none;
                        cursor: pointer;
                        font-size: 16px;
                        // transition: background 0.3s;
                        // &:hover {
                        //     background: var(--peach);
                        //     border-radius: 7px;
                        // }
                        &_sign-out {
                            color: var(--red);
                        }
                    }
                }
            }
        }
    }
}
