.popin {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__ {
        &inner {
            background-color: #fff;
            padding: 16px;
            border-radius: 8px;
            position: relative;
            min-width: 280px;
            @media (max-width: 600px) {
                width: 100%;
                margin: 8px;
            }
            & > div {
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                
                @media (max-width: 600px) {
                    flex-wrap: wrap;
                }
                input,
                textarea {
                    width: 180px !important;
                    @media (max-width: 600px) {
                        width: 100% !important;
                    }
                }
                &:last-child {
                    justify-content: flex-end;
                }
                label {
                    padding-right: 16px;
                }
                .sign-in__ {
                    &error {
                        color: var(--red);
                    }
                }
            }
        }
    }
    .popin__close {
        background: none;
        width: 30px;
        border: 1px solid #ccc;
        border-radius: 15px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #000;
        transition: background 0.3s;
        cursor: pointer;
        &:hover {
            background: #ccc;
        }
    }
}
