.popin {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__ {
        &inner {
            background-color: #fff;
            padding: 16px;
            border-radius: 8px;
            position: relative;
            min-width: 280px;
            & > div {
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                &:last-child {
                    justify-content: flex-end;
                }
                label {
                    padding-right: 16px;
                }
                .sign-in__ {
                    &error {
                        color: var(--red);
                    }
                    &button {
                        background: var(--peach);
                        border: 1px solid #ccc;
                        font-weight: bold;
                        font-size: 16px;
                        border-radius: 8px;
                        padding: 8px 16px;
                        transition: background 0.3s;
                        cursor: pointer;
                        &:hover {
                            background: #ccc;
                        }
                    }
                }
            }
        }
        &close {
            background: none;
            width: 30px;
            border: 1px solid #ccc;
            border-radius: 15px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 10px;
            transition: background 0.3s;
            cursor: pointer;
            &:hover {
                background: #ccc;
            }
        }
    }
}
