.app {
    text-align: center;
    --red: #ee3238;
    --orange: #ffc22d;
    --peach: #ffeecd;
    button{
        background: none;
        $green: #00ba00;
        color: $green;
        border: 1px solid $green;
        border-radius: 8px;
        transition: background .3s;
        cursor: pointer;
        height: 26px;
        padding: 4px 8px;
        &:hover{
            background: rgb(235, 234, 234);
        }
    }
    input{
        border-radius: 8px;
        padding: 4px 8px;
        border-width: 1px;
        border-style: solid;
        height: 16px;
    }
}

